
JWT_SECRET=super_secure_jwt_secret

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

DATABASE_URL=postgresql://notes_db_fa87_user:RoJ6JbdqHH88VF0grYJF4J7AZWW0syht@dpg-d1o7n349c44c73f8ots0-a/notes_db_fa87 ✅
