{% extends "_layout.njk" %}

{% block content %}
  <div class="uk-container uk-margin-large-top">
    <h2>404 - Страница не найдена</h2>
    <p>Запрашиваемая страница отсутствует или перемещена.</p>
    <a href="/" class="uk-button uk-button-default">На главную</a>
  </div>
{% endblock %}
